<body style="background-color: #1f1f1f; display: flex; justify-content: center;">
    <div style="text-align: center; font-family: Arial, sans-serif; padding: 30px; background-color: #1f1f1f; width: 100%;">

        <div style="margin-bottom: 20px;">
            <img src="{{ data.logo }}" alt="Logo"
                 style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; overflow: hidden;">
        </div>

        <h2 style="color: #ffffff; margin: 0;">Добро пожаловать, {{ data.username }}!</h2>

        <p style="font-size: 18px; color: #999; margin-top: 10px;">
            Спасибо за регистрацию в Business KG. Ваш код для активации аккаунта:
        </p>

        <div
             style="margin: 20px 0; border: 2px solid #007bff; padding: 10px; display: inline-block; cursor: pointer;">
            <span style="font-size: 24px; font-weight: bold; color: #007bff;">{{ data.code }}</span>
        </div>

        <p style="font-size: 14px; color: #999;">
            С наилучшими пожеланиями,<br> команда Business KG.
        </p>
    </div>
</body>
